*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    background-color: #ece2d3;
}

header{
    text-align: center;
    padding: 3em;
    line-height: 1;

}
header > h1{
    font-size: 50px;
    font-family: font-family: 'Playfair Display', serif;
}

header > h2{
    font-size: 2.5em;
}

header > p{
    padding-top: 0.5em;
}

.book-club{
    width: 100vw;
}

.bookcase{
    display: grid; 
    justify-items: center;
    gap: 2rem;
}

.book-card{
    width: 23rem;
    background-color: white;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}

.book-card:hover {
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.4);
}

.card-cover > img{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-content{
    padding: 1em 2em;
}

.card-top{
    padding: 0.5em;
    margin-bottom: 1em;
}

.card-top > h3{
    font-size: 2em;
}

.card-middle{
    display: flex;
    flex-direction: colum;
}

.card-middle > p {
    margin-right: 1em ;
    padding: 0.4rem 1rem;
    border: 0.1em solid black;
    border-radius: 2em;
}

@media only screen and (min-width: 50rem) { 
    .bookcase{
        grid-template-columns: repeat(2, 1fr);
    }

    .book-club{
        width: 80vw;
    }
}
    
@media only screen and (min-width: 80rem) {  
    .bookcase{
    grid-template-columns: repeat(3, 1fr);
    }

    .book-club{
    width: 80vw;
    }
}